/* Responsive Web Design
    - Desktop screens: 1200px and up
    - Laptop screens: 1024px to 1199px
    - Tablet screens: 768px to 1023px
    - Smartphone screens: 320px to 767px
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.parent > div {
  width: 290px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .parent > div {
    background-color: blue;
    font-size: 36px;
  }
}
