/* 
Position
    - static => default
    - relative => according to its location
    - absolute => when we want to position the element whenever we want in the page
    - fixed => scroll button on the side of the webpage
    - sticky => navbar when we scroll


    Note: 
    in order to use absolute position the parent element must be from type relative 
*/

body {
  min-height: 5000px;
}

div {
  color: white;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.6em;
  background-color: red;
  position: sticky;
  top: 0;
}
