.blue {
    color: white;
    background-color: blue;
}

.box {
    width: 200px;
    height: 200px;
    border: solid black 3px;
    margin: 20px;
    padding: 12px;
    background-color: red;
    color: white;
}