* {
    padding: 0;
    margin: 0;
}
body {
    height: 5000px;
}

.container {
    width: fit-content;
    margin: 20px auto;
}

form {    
    padding: 20px;
    background-color: #e4e5e6;
    border: none;
    border-radius: 6px;
}

form input {
    padding: 12px;
    border: none;
    border-radius: 6px;
}

form input[type="text"] {
    width: 300px;
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="submit"] {
    background-color: rgb(0, 195, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: 300ms;
}

form input[type="submit"]:hover {
    opacity: 1;
}

.tasks {
    padding: 20px;
    margin-top: 20px;
    background-color: #e4e5e6;
    border: none;
    border-radius: 6px;
}

.tasks ul {
    list-style: none;
}

.tasks ul li {
    background-color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.tasks ul li span {
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    cursor: pointer;
    opacity: 0.8;
    transition: 300ms;
}

.tasks ul li span:hover {
    opacity: 1;
}

.up {
    display: block;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    width: fit-content;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px grey;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}